<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="playersControl" class="nav-link active bg-dark" aria-current="page">Home</a></li>
      <li class="nav-item"><a routerLink="/admin/addPlayer" class="nav-link text-black">Add New Player</a></li>
      <li class="nav-item"><a routerLink="#" class="nav-link text-black">TOP Players</a></li>
      <li class="nav-item"><a (click)="click()" type="button" class="nav-link btn btn-secondary">Logout</a></li>
    </ul>
  </header>
</div>
